<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ block "title" . }} {{- T "home" -}} {{ end }} | {{ .Site.Title }}</title>

    {{ partial "head.html" . }}
    {{ block "css" . }} {{ end }}
  </head>

  <body>
    <section>
      <div class="dream-max-width">
        {{ block "main" . }} {{ end }}
      </div>
    </section>
    </div>

    {{ partial "footer.html" . }}
    {{ block "js" . }} {{ end }}

    {{ if .Site.Params.enableSearch }}
      {{ partial "search.html" . }}
    {{ end }}

    {{ if .Site.GoogleAnalytics }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </body>
</html>
