<article class="dream-header">
    <section class="ui top attached center aligned segment inverted">
        <div class="ui small circular image">
            {{ if isset .Site.Params "avatar" }}
            <img src="{{ .Site.Params.avatar | relURL }}">
            {{ end }}
        </div>

        {{ if or (hasPrefix .RelPermalink "/posts") (hasPrefix .RelPermalink "/tags") (hasPrefix .RelPermalink "/categories") }}
        <div class="ui medium header">
            {{ else }}
            <h1 class="ui medium header">
                {{ end }}
                {{ if .Site.Params.headerTitle }}
                {{- .Site.Params.headerTitle -}}
                {{ else }}
                {{- .Site.Params.author -}}{{- T "blogAlias" -}}
                {{ end }}
                <div class="sub header" style="margin-top: 0.5rem;">{{- .Site.Params.motto -}}</div>
                {{ if or (hasPrefix .RelPermalink "/posts") (hasPrefix .RelPermalink "/tags") (hasPrefix .RelPermalink "/categories") }}
        </div>
        {{ else }}
        </h1>
        {{ end }}

        <div class="ui horizontal list inverted">
            <a class="item" href="{{ .Site.BaseURL }}">
                <i class="home icon" title="Home"></i>
            </a>
            {{ if .Site.Params.enableSearch }}
            <a class="item link" onclick="toggleSearch()">
                <i class="search icon" title="Home"></i>
            </a>
            {{ end }}
            {{ if gt (len (where .Site.RegularPages "Section" "==" "posts")) 0 }}
            <a class="item" href="{{ "posts" | relLangURL }}">
                <i class="archive icon" title="{{ T "archives" }}"></i>
            </a>
            {{ end }}
            <a class="item" href="{{ "tags" | relLangURL }}">
                <i class="tags icon" title="{{ T "allTags" }}"></i>
            </a>
            <a class="item" href="{{ "categories" | relLangURL }}">
                <i class="th list icon" title="{{ T "allCategories" }}"></i>
            </a>
        </div>
    </section>

    {{/* Overriding categories */}}
    {{ if .Site.Params.about}}

    {{ if or (hasPrefix .RelPermalink "/posts") }}

    {{ else }}

    {{ if .Site.Taxonomies.tags }}
    <section class="ui attached center aligned segment dream-tags inverted">
        {{ $colour := .Site.Params.tagcolour }}
        {{ range $name, $_ := .Site.Taxonomies.tags }}
        {{ $link := printf "/tags/%s/" $name | urlize }}
        {{ $title := $name | humanize | title }}
        <a class="ui label {{ $colour }}" href="{{ $link }}" title="{{ $title }}">
            {{ $title }}
        </a>
        {{ end }}
    </section>
    {{ end }}

    {{ $headless := .Site.GetPage "/about" }}
    {{ $aboutPages := $headless.Resources.ByType "page" }}
    {{ range $aboutPages }}
    <section class="ui attached segment dream-categories inverted markdown-body">
        {{ .Content | emojify }}
    </section>
    {{ end }}

    {{ end }}

    {{ else if .Site.Taxonomies.categories }}
    <section class="ui attached segment dream-categories inverted">
        <div class="ui accordion inverted">
            {{ $categories := .Site.Taxonomies.categories }}
            {{ $categoriesCount := len $categories }}
            {{ $categoriesLimitInHeader := .Site.Params.categoriesLimitInHeader | default 6 }}
            {{ $scratch := newScratch }}
            {{ $scratch.Set "categoriesLimit" 0 }}

            {{ range $name, $taxonomy := $categories }}
            {{ $scratch.Add "categoriesLimit" 1 }}

            {{ if le ($scratch.Get "categoriesLimit") $categoriesLimitInHeader }}
            <div class="title">
                <i class="dropdown icon"></i>
                {{ $link := printf "/categories/%s/" $name | urlize }}
                {{ $title := $name | humanize | title }}
                <a class="item" href="{{ $link }}" title="{{ $title }}">
                    {{ $title }} b
                </a>
            </div>
            <div class="content">
                <div class="ui list inverted">
                    {{ range $taxonomy.Pages }}
                    <div class="item">
                        <div class="content">
                            <a class="item" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            {{ end }}

            {{ if gt $categoriesCount $categoriesLimitInHeader }}
            <div class="title">
                <a class="item" href="{{ "categories" | relLangURL }}" style="padding-left: 0.5rem;">......</a>
            </div>
            {{ end }}
        </div>
    </section>
    {{ end }}

    <section class="ui attached segment header-socials inverted">
        {{ partial "socials.html" (dict "Site" .Site "IconSize" "") }}
    </section>

    <section class="ui attached center aligned segment inverted">
        {{ if .Site.Params.siteStartYear }}
        <p>© {{ if eq now.Year .Site.Params.siteStartYear }}{{ now.Year }}{{ else }}{{ .Site.Params.siteStartYear }} - {{ now.Year }}{{ end }} {{ .Site.Title }}</p>
        {{ else }}
        <p>© {{ now.Year }} {{ .Site.Title }}</p>
        {{ end }}

        <p>Powered by <a href="https://gohugo.io/" target="_blank">Hugo</a> with a modified version of <a href="https://gitlab.com/ben-w/hugo-theme-dream" target="_blank">Dream</a> theme.</p>

        {{ if .Site.Params.headerBottomText }}
        <p>{{ .Site.Params.headerBottomText | safeHTML }}</p>
        {{ end }}
    </section>
</article>
