<nav class="ui secondary menu dream-menu dream-socials">
  {{ if .Site.Params.rss }}
    <div class="item">
      <a href="{{ "index.xml" | relLangURL }}">
        <i class="large rss square icon" title="RSS"></i>
      </a>
    </div>
  {{ end }}
  {{ if .Site.Params.email }}
    <div class="item">
      <a href="mailto:{{ .Site.Params.email }}">
        <i class="large mail icon" title="Email"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.twitter }}
    <div class="item">
      <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">
        <i class="large twitter icon" title="Twitter"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.facebook }}
    <div class="item">
      <a href="https://facebook.com/{{ .Site.Params.facebook }}" target="_blank">
        <i class="large facebook icon" title="Facebook"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.instagram }}
    <div class="item">
      <a href="https://instagram.com/{{ .Site.Params.instagram }}" target="_blank">
        <i class="large instagram icon" title="Instagram"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.mastodon }}
    <div class="item">
      <a href="{{ .Site.Params.mastodon }}" target="_blank">
        <i class="large icon-mastodon icon" title="Mastodon"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.linkedin }}
    <div class="item">
      <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
        <i class="large linkedin icon" title="Linkedin"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.gitlab }}
    <div class="item">
      <a href="https://gitlab.com/{{ .Site.Params.gitlab }}" target="_blank">
        <i class="large gitlab icon" title="Gitlab"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.github }}
    <div class="item">
      <a href="https://github.com/{{ .Site.Params.github }}" target="_blank">
        <i class="large github icon" title="GitHub"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.stackoverflow }}
    <div class="item">
      <a href="https://www.stackoverflow.com/users/{{ .Site.Params.stackoverflow }}" target="_blank">
        <i class="large stack overflow icon" title="StackOverflow"></i>
      </a>
    </div>
  {{ end }}

  {{ if .Site.Params.codepen }}
    <div class="item">
      <a href="https://codepen.io/{{ .Site.Params.codepen }}" target="_blank">
        <i class="large codepen icon" title="Codepen"></i>
      </a>
    </div>
  {{ end }}
</nav>
