{{ define "title" }}404 Not Found{{ end }}

{{ define "main" }}
<div class="dream-404-container inverted">
  <div class="ui basic center aligned segment inverted">
    {{ if or .Site.Params.backgroundDark .Site.Params.backgroundImageDark }}
      <h1 class="ui header">
        Oops...You are lost in dream.
        <div class="sub header">Don't worry though, click the button below to wake up.</div>
      </h1>
      <p>
        <button class="ui button" onclick="window.location.href = '/'">{{ i18n "backToHome" }}</button>
      </p>
    {{ else if .Site.Params.dark404 }}
      <h1 class="ui inverted header">
        Oops ... You are lost in dream.
        <div class="sub header">Don't worry though, click the button below to wake up.</div>
      </h1>
      <p>
        <button class="ui inverted button" onclick="window.location.href = '/'">{{ i18n "backToHome" }}</button>
      </p>
    {{ else }}
      <h1 class="ui header">
        Oops...You are lost in dream.
        <div class="sub header">Don't worry though, click the button below to wake up.</div>
      </h1>
      <p>
        <button class="ui button" onclick="window.location.href = '/'">{{ i18n "backToHome" }}</button>
      </p>
    {{ end }}
  </div>
</div>
{{ end }}
