{{ define "main"}}
<div class="ui relaxed grid dream-grid">
    <!-- For backward compatible, it's needed to filter out the about pages to prevent them from being rendered -->
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "!=" "about") }}

    <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
        {{ partial "header.html" . }}
        <br />
        <article class="ui attached segment card dream-card inverted">
            <section class="ui attached center aligned segment inverted">
                {{ partial "paginator.html" (dict "paginator" $paginator "Site" .Site) }}
            </section>
        </article>
    </div>

    {{ range $paginator.Pages.ByWeight }}
    <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
        {{ .Render "summary" }}
    </div>
    {{ end }}



</div>
{{ end }}

{{ define "js" }}
<script src="{{ "/js/imagesloaded.pkgd.min.js" | relURL }}"></script>
<script src="{{ "/js/masonry.pkgd.min.js" | relURL }}"></script>
<script src="{{ "/js/grid.js" | relURL }}"></script>
{{ end }}
